@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/static/Raleway-Regular.ttf);
}

/*  */
/* index.html */
/*  */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin:0;
    color: #111;
    background-color: #eeeeee;
    /* background: linear-gradient(70deg, #ffffff, rgb(226, 226, 226)); */
}


/*  */
/* CLASS MENU */
/*  */


.menu {
    box-sizing: border-box;
    z-index: 1;
    position: fixed;
    background: rgba(155, 155, 155, 0.6);
    height: 100vh;
    backdrop-filter: blur(10px);
    left: -430px;
    transition: all 0.7s ease;
}

.menu-active {
    left: 0;
}

.menu-section-button {
    display: flex;
    align-items: center;
    height: 65px;
    margin-left: 355px;
}
.menu-button {
    display: block;
    height: 50px;
    width: 50px;
    background-color: #FFFAFA;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
    transition: all 400ms ease;
}

.menu-line{
    display: block;
    background-color: #51565C;
    width: 30px;
    height: 5px;
    position: absolute;
    cursor: pointer;
    transition: all 0.2s ease;
}

.menu-line-first {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.menu-line-second{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.menu-button-active {
    opacity: 100%;
}

.menu-section-catalog {
    margin: 15vh 15px;
}

.title {
    font-family: Raleway;
    font-size: 40px;
    margin-bottom: 50px;
    margin-left: 15px;
}

.active-link {
    font-weight: bold;
}

.span-menu-catalog {
    color: #006400;;
}

.list-menu li {
    list-style: none;
    width: 360px;
    margin:20px 0px;
    padding-right: 10px;
    cursor: pointer;
}

.list-menu a {
    font-family: Raleway;
    font-weight: 400;
    color: #000000;
    font-size: 25px;    
    text-decoration: none;
}

.list-menu a:hover {
    color:#006400;
    padding-left: 10px;
    transition: padding-left 0.3s ease;
    border-left: 5px solid #006400;
}

.list-nested {
    display: none;
    transition: all 0.2s ease;
}

.list-nested-active {
    display: block;
}


/*  */
/* CLASS PAGE */
/*  */

.page {
    display: flex;
    z-index: 0;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}


/*  */
/* HEADER*/
/*  */


header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    /* background-color: rgb(249, 249, 249); */
    background-color: rgb(202, 202, 202);
    /* background-color: rgba(192, 192, 192); */
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}

.header-section-button {
    display: flex;
    position: static;
    align-items: center;
    margin: 0 25px;
}

.header-button {
    display: block;
    height: 50px;
    width: 50px;
    background-color: #51565C;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
    transition: all 400ms ease;
}

.h-button-line {
    display:block;
    background-color: #FFFAFA;
    width: 30px;
    height: 5px;
    position: absolute;
    cursor: pointer;
    transition: all 0.2s ease;
}

.h-button-line-first {
    top: 10px;
}

.h-button-line-second {
    top: 50%;
    transform: translateY(-50%);
}

.h-button-line-third {
    bottom: 10px;
}

.header-button-active {
    pointer-events: none;
}

.header-section-logo {
    display: flex;
    align-items: center;
}

.logo-name{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
}

.logo {
    height: 50px;
    width: 150px;
}


/*  */
/* MAIN */
/*  */


main {
    background-color: #ffffff;
    border-radius: 10px;
    flex-grow: 1;
    font-family: Raleway;
    width: 100%;
    max-width: 1350px;
    margin: 30px auto;
    padding: 10px 20px;
    line-height: 1.5;
    margin-top: 100px;
}
/* .main-center {
    display: block;
    justify-content: center;
} */

main h1 {
    margin: 10px 0;
}
main h2 {
    margin: 5px 10px;
}

main h3 {
    margin: 5px 15px;
}

main p {
    margin: 5px 20px;
}

img {
    margin: 0 10px;
}
iframe {
    margin: 5px 0;
}

table {
    border: #000000 2px solid;
    border-collapse: collapse;
}

td {
    border: #000000 2px solid;
    margin: 0px 10px;
}

.kontur-purchases {
    text-decoration: none;
    color:#1e79be;
    font-weight: bold;
}

.kontur-eltradingschool {
    text-decoration: none;
    color:#d94440;
    font-weight: bold;
}

.kontur-focus {
    text-decoration: none;
    color:#4d9068;
    font-weight: bold;
}

.kontur-extern {
    text-decoration: none;
    color: #fc7630;
    font-weight: bold;
}

.table-without-decoration {
    border: none;
    margin: 0 10px;
}

.td-without-decoration {
    border: none;
}

iframe {
    margin: 0 20px;
    margin-top: 10px;
}

map {
    width: 100px;
    height: 100px;
}


.list-subitem {
    font-size: 16px;
    padding: 5px;
    list-style-type: none;
    counter-reset:  item;
}

.subitem:before {
    counter-increment: item;
    content: counter(item) ') ';
}


/*  */
/* FOOTER */
/*  */


footer {
    display: flex;
    height: 65px;
    width: 100%;
    background-color: #51565C;
    justify-content: center;
    align-items: center;
}

.footer-p {
    font-family: Raleway;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.footer-link {
    font-family: Raleway;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}


/* MEDIA QUERIES */

/* @media (max-height: 768px) {
    .menu-section-catalog {
        margin: 1vh 15px;
    }
} */

@media (width < 450px) {
    .header-section-button {
        margin: 20px;
    }
    .menu-section-button {
        margin-left: 345px;
    }
    img { 
        margin: 0px;
    }
    /* main {
        margin-top: 25px;
    } */
    .logo-name {
        display: none;
    }

    iframe {
        width: 340px;
        height: 190px;
    }

    img {
        width: 350px;
        height: 300px;
    }
}

@media (height < 768px) {
    .menu-section-catalog {
        margin: 1vh 15px;
    } 
}

/* width=524&amp;height=283&amp; */


